*{
    margin: 0;
    padding: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress {
  /* animation: rotate 2s linear infinite; */
  background-image: conic-gradient(from -90deg,yellow 50%, rgba(255, 255, 255, 0.5) 0);
  background-size: 100% 100%;
  background-origin: border-box;
  background-clip: content-box, border-box;
}


/* Hide both vertical and horizontal scrollbar */
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  /* Hide vertical scrollbar */
  body::-webkit-scrollbar {
    width: 0; /* Safari and Chrome */
    height: 0;
  }